/* including fonts, would be a separate css file for a larger project */
@font-face {
	font-family: "Metric Web";
	src: url("../fonts/MetricWeb-R-Regular.woff") format("woff"),
	url("../fonts/MetricWeb-R-Regular.eot") format("eot");
}
@font-face {
	font-family: "Metric Web Semibold";
	src: url("../fonts/MetricWeb-R-Semibold.woff"),
	url("../fonts/MetricWeb-R-Semibold.eot");
}


/* default tag styles and/or reset if necessary */
body {
	background: #f2f2f2;
	color: #2b2b2b;
	font-family: "Metric Web", sans-serif;
	font-size: 14px;
	margin: 0;
}

/* initial mobile first values */
.container {
	background: #fff;
	min-width: 260px;
}

/* navigation */
nav {
	/* sticky header on smaller screens */
	position: fixed;
	top: 0;
	width: 100%;

	background: #fdf6ed;
	border-bottom: 1px solid #e6e6e6;
	padding: 15px 0;
}
nav:after {
	content: "";
	display: table;
	clear: both;
}
nav a {
	display: inline-block;
	padding: 5px 5px 0 5px;
	text-decoration: none;
}
.nav--left {
	float: left;
}
.nav--left a.close {
	/*background: url("fallback.png") no-repeat center;*/ /* ToDo: add fallbacks for svg background images */
	background-size: contain;
	background: url("../icons/Chevron-Left-Large.svg") no-repeat center;
	display: inline-block;
	height: 32px;
	padding-left: 22px;
	width: 32px;
}
.nav--right {
	float: right;
}

/* content section */
section {
	padding-bottom: 14px;
}
.article {
	border-collapse: collapse;
	margin: 70px 0 0;
}
.article td {
	vertical-align: top;
	margin: 0;
	padding: 0;
}

.user-info {
	width: 56px;
}
.user-info img {
	border-radius: 50%;
	padding: 15px;
}

.message-name-date {
	padding: 22px 0 12px;
}
.name {
	font-family: "Metric Web Semibold", sans-serif;
	padding-right: .5em;
}
.date {
	color: #929292;
}

/* 1st message - conversation start */
.primary {
	background: #fdf6ed;
}
.message-body {
	padding: 22px 20px 14px 0;
}
.primary .message-body h3 {
	margin-top: 0;
}

/* list of links - conversation details */
ul.details {
	/* ToDo: rounded corners for left border */
	border-left: 4px solid #ea9e09;
	list-style-type: none;
	padding-left: 5px;
}
ul.details li {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
}
ul.details li.work {
	background-image: url("../icons/Work-Thin.svg");
}
ul.details li.contact-organization {
	background-image: url("../icons/Contact-Organization-Thin.svg");
}
ul.details li a {
	color: #2b2b2b;
	line-height: 1.75em;
	padding-left: 30px;
}
ul.details li a:hover {
	text-decoration: none;
}

/* conversation status labels */
p.label-progress {
	background: #fff;
	border: 1px solid #eee0ce;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	margin: 0;
	padding: 6px 8px 8px;
}

/* attachment links */
a.attachment {
	background-size: contain;
	/* this one done for a .pdf file ToDo: general rule for diff types of attachments */
	background: #fff url("../icons/File-PDF.svg") no-repeat 4px;
	border: 1px solid #eee0ce;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	color: #2b2b2b;
	display: inline-block;
	margin-right: .5em;
	padding: 8px 10px 10px 38px;
	text-decoration: none;
}
a.attachment:hover {
	text-decoration: underline;
}

/* footer - comment section */
footer {
}


/*----- media queries -----*/
/* for screens larger than 600px */
@media (min-width: 601px) {
	body {
		margin: 40px;
	}

	.container {
		/*box shadow*/
		-webkit-box-shadow: 0 0 15px 0 #c5c5c5;
		box-shadow: 0 0 15px 0 #c5c5c5;

		/*rounded borders*/
		-webkit-border-radius: 4px;
		border-radius: 4px;

		max-width: 980px;
		margin: 0 auto;
	}

	nav {
		/* non-sticky header */
		position: relative;
		padding: 15px 10px;

		background: #f9f9f9;
		width: auto;

		/* rounded borders */
		-webkit-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav--left a.close {
		background-image: url("../icons/Cross-Large.svg");
		padding-left: 5px;
	}

	.article {
		margin-top: 0;
		margin-right: 14px;
	}
	.message-body {
		padding-left: 20px;
	}
	.primary {
		background: #fff;
	}
	.primary .message-body {
		background: #fdf6ed;
		border: 1px solid #eee0ce;
	}

	footer {
	}
}